.popup__title {
  margin: 0 0;
  padding: 34px 0 54px 36px;
  width: 330px;
  height: 23px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  align-self: flex-start;
}

@media (max-width: 600px) {
  .popup__title {
    width: 238px;
    padding-top: 25px;
    padding-left: 22px;
    padding-bottom: 45px;
    font-size: 18px;
    line-height: 21.78px;
  }
}