.popup__close {
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  box-shadow: none;
  background-image: url(../../../images/Close-Icon-big.svg);
  background-repeat: no-repeat;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-image: url(../../../images/Close-Icon-small.svg);
  }
}